*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Abel', sans-serif;
}

h1 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 30px;
}

.container{
    min-height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 30px 0px;
    /* background-image: -webkit-gradient(linear, left top, left bottom, from(#311847), to(#3EB9E6)); */
    background-color: lightseagreen;
    /* overflow: auto; */
}

.container:nth-child(2) {
    background-color: lightsalmon;
}

.container:nth-child(3) {
    background-color: lightskyblue;
}

.weather-boxes {    
    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
}

.weather-box{
    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;
    align-content: flex-start;
}
.row1{
    display: grid;
    /* width: 100%; */
    grid-auto-flow: column;
    grid-gap: 20px;
    align-items: center;
    border-bottom: 1px solid white;
    padding: 20px;
}
.weather-location{
    color: white;
    font-size: 20px;
}

.weather-icon {
    width: 25px;
    
}
.row2{
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.temp{
    color: white;
    font-size: 40px;
    cursor: pointer;
    pointer-events: auto;
    transition: color 1s;
    align-self: flex-start;
}
.temp-type{
    color: lightcoral;
    font-size: 40px;
    cursor: pointer;
    transition: color 1s;
    align-self: flex-start;
}
.weather-description{
    text-align: center;
    color: white;
}

.row {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    grid-gap: 30px;
    padding: 0px 20px;
}

.row > .label {
    font-size: 1.5em;
    font-weight: 700;
}

.row > .content {
    font-size: 1.5em;
    text-align: right;
}

li {
    font-size: 1.5em;
}

@media screen and (max-width: 480px) {
    .weather-boxes {    
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

    .row1{
        grid-auto-flow: row;
    }

    /*     
    .weather-location{
        font-size: 30px;
    }
    .made-by{
        display: none;
    }
    .block1{
        padding: 20px;
    }
    .block2{
        padding: 20px;
    }
    .weather-days{
        font-size: 16px;
    }
    .container{
        height: 130vh;
    }    */
}

#map {
    width: 500px;
    max-width: 90vw;
    height: 300px;
}