html {
    background-color: lightseagreen;
}
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: grid;
    align-content: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
}

form {
    width: 400px;
    max-width: 90vw;
    padding: 25px;
    /* border-radius: 10px; */
    background-color:white;
}

h1 {

}

label {
    
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    background-color:#b6ddff;
    border: none;
}


button {
    padding: 1rem;
    border: none;
    background: slateblue;
    color: white;
}

.grid {
    display: grid;
    grid-gap: 20px;
}

.row {
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
}

.gap-sm {
    grid-gap: 5px;
}

.hidden {
    display: none;
}
